<!-- <div class="header">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <h2 class="text-white">anyfloat.store</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-xl-3 d-flex align-items-center justify-content-around bg-white">
            <h1>anyfloat.store</h1>
        </div>
    </div>
</div> -->

<div class="container-fluid shadow header">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <span class="text-white animated fadeInLeft" style="font-size: 1.2rem;">{{title}}</span>
            <!-- add wishlist and cart icons or links here use animated fadeInRight-->
        </div>
    </div>
</div>