<div class="container-fluid shadow header animated fadeIn faster">
    <!-- <div class="container h-100"> -->
    <div class="d-flex h-100 align-items-center justify-content-between">
        <a class="p-0" [routerLink]="['/']"><span class="text-white" style="font-size: 1.2rem;">{{title}}</span></a>
        <div class="navigationLink">
            <a [routerLink]="['/wishlist']" class="text-white">Wishlist</a>
            <a [routerLink]="['/cart']" class="ml-3 text-white">Cart</a>
        </div>
    </div>
    <!-- </div> -->
</div>