<div class="container-fluid shadow header animate__animated animate__fadeIn animate__faster">
    <div class="row h-100 align-items-center px-5 justify-content-between">
        <div class="col-12 col-md-8">
            <a class="p-0" [routerLink]="['/']">
                <span class="text-white">{{title}}</span>
            </a>
        </div>
        <div class="col-12 col-md-2">
            <div class="navigationLink">
                <a [routerLink]="['/wishlist']" routerLinkActive="router-link-active" class="text-white">Wishlist</a>
                <a [routerLink]="['/cart']" routerLinkActive="router-link-active" class="ml-3 text-white">Cart</a>
            </div>
        </div>
    </div>
</div>