$surface-color: rgba(255,255,255,0.16)

.header
    height: 10vh
    background-color: $surface-color

.header span
    font-size: 1.2rem
    background-color: #2a9d90
    padding: 0 8px

.header a
    background-color: #2a9d90
    padding: 0 4px