.image-size
    width: 132px
    height: 203px
    background-color: rgba(0,0,0)
    margin-right: 10px

.image-size img
    object-fit: cover

.details
    top: 5px
    left: 8px
    display: none

.buttons
    bottom: 2px
    left: 8px
    right: 8px
    display: none

.btn 
    font-weight: 900  

p   
    margin-bottom: 0.5rem

.buttons button
     font-size: xx-small

.details p
    font-size: smaller
    opacity: 87%

.image-size:hover img
    transition: all 0.5s ease
    opacity: 0.16
    cursor: pointer


.image-size:hover .details
    display: flex
    flex-direction: column

wishlist-cart-buttons:hover
    display: flex    
// .image-size:hover .details
//     display: block
        
.image-size:hover .buttons
    display: flex