<div class="container-fluid">
    <!-- <div class="container"> -->
    <div class="w-100 px-5 py-3 shadow text-white section">
        <h3 class="mb-3">{{title}}</h3>
        <h5>Books</h5>
        <div class="pb-2 mb-3" style="overflow-x: scroll; overflow-y: hidden; height: 203px;">
            <app-book-list class="d-flex animated fadeInRightBig fast"></app-book-list>
        </div>
        <h5>Movies</h5>
        <div class="pb-2 mb-3" style="overflow-x: scroll; overflow-y: hidden; height: 203px;">
            <app-movie-list class="d-flex animated fadeInLeftBig fast"></app-movie-list>
        </div>
    </div>
    <!-- </div> -->
</div>