<!-- my first page -->
<app-header></app-header>
<div class="container-fluid">
    <div class="container">
        <div class="w-100 p-3 shadow text-white section">
            <h5>Books</h5>
            <div class="pb-2 mb-3" style="overflow-x: scroll; overflow-y: hidden;">
                <app-book-list class="d-flex"></app-book-list>
            </div>
            <h5>Movies</h5>
            <div>
                <div class="pb-2 mb-3" style="overflow-x: scroll;">
                    <!-- movies-list -->
                </div>
            </div>
        </div>
    </div>
</div>