<div class="container-fluid position-relative animate__animated animate__fadeIn fast">
    <div class="w-100 px-5 py-5 shadow text-white section">
        <div *ngIf="book; else elseBlock">
            <div class="row pt-3">
                <div class="col-md-6 col-lg-3">
                    <img class="w-100 h-100" [src]="book.image">
                </div>
                <div class="mt-sm-3 col-md-6 col-lg-6">
                    <h2 class="mb-0">{{book.name}}&nbsp;({{book.year}})</h2>
                    <small>by&nbsp;<span>{{book.writer}}</span></small>
                    <p class="mt-3 mr-lg-4 mr-xl-5 text-justify">{{book.preview}}</p>
                </div>
                <div class="mt-sm-3 col-md-12 col-lg-3 onSurface">
                    <div class="row flex-column py-3">
                        <div class="col-12">
                            <p>Price:&nbsp;&nbsp;&#8377;&nbsp;{{book.price}}</p>
                            <p>Genre:&nbsp;&nbsp;&nbsp;{{book.genre}}</p>
                            <p>Pages:&nbsp;&nbsp;&nbsp;{{book.pages}}</p>
                            <p>Ratings:&nbsp;&nbsp;&nbsp;{{book.ratings}}/5</p>
                        </div>
                    </div>
                    <div class="buttons row flex-column align-items-center">
                        <div class="col-12">
                            <button class="btn btn-outline-warning rounded-0 mb-3" (click)="addToBookWishlist(book)">Add to wishlist</button>
                            <button *ngIf="book.quantity !=0; else elseBlock" class="btn btn-outline-primary rounded-0 mb-3" (click)="addToBookCart(book)">Add to cart</button>
                            <ng-template #elseBlock>
                                <div class="btn mb-3 rounded-0 btn-danger" style="cursor: not-allowed;">
                                    <span>Out of Stock</span></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="row pt-3">
                <div class="col-md-6 col-lg-3">
                    <img class="w-100 h-100" [src]="movie.image">
                </div>
                <div class="mt-sm-3 col-md-6 col-lg-6">
                    <h2 class="mb-0">{{movie.name}}&nbsp;({{movie.year}})</h2>
                    <small>by&nbsp;<span>{{movie.director}}</span></small><br><br>
                    <a href="{{movie.trailer}}" target="_blank">Click here to watch the trailer</a>
                    <p class="mt-3 mr-lg-4 mr-xl-5 text-justify">{{movie.description}}</p>
                </div>
                <div class="mt-sm-3 col-md-12 col-lg-3 onSurface">
                    <div class="row flex-column py-3">
                        <div class="col-12">
                            <p>Price:&nbsp;&nbsp;&#8377;&nbsp;{{movie.price}}</p>
                            <p>Genre:&nbsp;&nbsp;&nbsp;{{movie.genre}}</p>
                            <p>Cast:&nbsp;&nbsp;&nbsp;{{movie.cast}}</p>
                            <p>Ratings:&nbsp;&nbsp;&nbsp;{{movie.imdb}}/5</p>
                        </div>
                    </div>
                    <div class="buttons row flex-column align-items-center">
                        <div class="col-12">
                            <button class="btn btn-outline-warning rounded-0 mb-3" (click)="addToMovieWishlist(movie)">Add to wishlist</button>
                            <button *ngIf="movie.quantity !=0; else elseBlock" class="btn btn-outline-primary rounded-0 mb-3" (click)="addToMovieCart(movie)">Add to cart</button>
                            <ng-template #elseBlock>
                                <div class="btn mb-3 rounded-0 btn-danger" style="cursor: not-allowed;">
                                    <span>Out of Stock</span></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <app-alert class="position-absolute" style="top: 8px; right: 47px"></app-alert>
</div>